/***************************************************
HOME PAGE STYLING
***************************************************/

#main-content {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* position: relative; */
}

#main-content p {
    font-size: 1.5rem;
}

#main-content p>a {
    /* display: inline-block; */
    text-decoration: none;
    /* font-size: inherit; */
    color:red;
    /* background-color: transparent; */
    /* border: none; */
}

.main-portrait {
    max-width: 40%;
    width:fit-content;
    /* height: min-content; */
    min-width: 0;
    margin: 2rem 0;
}

.main-list {
    max-width: 60%;
    justify-content: center;
    align-self: center;
    font-size: 2.5rem;
    padding-right: 5%;
    padding-left: 7%;
    margin: 2rem 0;
    list-style-type: none;
}

.main-list li:not(:last-child) {
    margin-bottom: 2rem;
}

/***************************************************************
HOME PAGE RESPONSIVE STYLE ELEMENTS
***************************************************************/

/* XS <= 366px */
@media (max-width: 366px) {
    .main-list-xs {
        font-size: 1.5rem;
        max-width: 100%;
        /* margin: 1rem auto 1.5rem auto; */
        padding-left: 0;
        padding-right: 0;
    }

    .main-portrait-xs {
        max-width: 75%;
        margin: 0 auto 1rem auto;
        border-style: groove;
        border: 3px black;
    }
}

/* SM <= 500px */

@media (min-width: 366px) and (max-width: 500px) {
    .main-list-sm {
        font-size: 1.5rem;
        max-width: 100%;
        /* margin: 1rem auto 1.5rem auto; */
        padding-left: 0;
        padding-right: 0;
    }

    .main-portrait-sm {
        max-width: 75%;
        margin: 0 auto 1rem auto;
        padding: 3px;
        border-style: groove;
        border: 3px black;
    }
}

/* MD <= 900px */

@media (min-width: 500px) and (max-width: 900px) {
    .main-list-md {
        font-size: 2.2vw;
    }
}

/* LG > 900px */

@media (min-width: 900px) and (max-width: 1200px) {
    .main-list-lg {
        font-size: 2.1vw;
    }
}